* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  border: 5px solid rgb(12, 12, 166);
}

body {
  background-color: rgb(50, 50, 50);
}

.Outer-div {
  padding: 12px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.Top-div {
  padding: 5px;
  color: antiquewhite;
  font-size: 30px;
  background-color: rgb(228, 129, 0);
  color: rgb(125, 83, 83);
}

p {
  float: right;
  background-color: beige;
}

button {
  color: purple;
  font: bold;
  font-size: 30px;
  background-color: beige;
}

.Inner-div {
  height: 100%;
  background-color: rgb(0, 0, 0);
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: rgb(89, 89, 38);
  outline: auto;
  background-color: beige;
  text-align: center;
}

.Inner-div p {
  color: antiquewhite;
  background-color: rgb(51, 50, 50);
}

.Begin-quiz button {
  display: none;
  display: block;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
}

main {
  display: none;
}
.Questions {
  display: none;
}

.End-screen {
  display: none;
  overflow-y: scroll;
  max-height: 150px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0.8rem;
  transition: transform 150ms;
  transform: scale(1.1);
}
